body {
  background-color: #555555;
}

.content{
  margin: auto;
  width: 80%;
  background-color: #130b0b;
}

#movie-content {
  margin: auto;
  width: 80%;
  background-color: #3a3a3a;


}

.movie-overview {
  display: inline-block;
  align-content: center;
  text-align: center;
  padding: 3%;
}

.movie-poster {
  height: 300px;
  width: 200px;

}


